body {
    font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    padding-left: 1em;
    font-size: 1.5em;
}

button, select {
    width: 10em;
    padding: .2em;
    margin: .4em 0em;
    font-size: 1em;
}

input { 
    padding: .2em; 
    margin: .4em 0em;
    width: 10em;
    font-size: 1em;
}
