<!DOCTYPE html>
<html>
  <head>
    <title>{{start.name}} &rarr; {{end.name}} @ {{when}}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/static/css.css" rel="stylesheet">
  </head>

  <body>

    <p>Who wants to travel from <b>{{start.name}}</b> to <b>{{end.name}}</b>, <b>{{when}}</b>?</p>

    <p>
    You and 
    <b>
    {{ count }} other 
    {% if count==1 %}person{% else %}people{% endif %}</b>.
    </p>

    <ul>
    {% for ip in ips %}
        <li> {{ ip }} 
    {% endfor %}
    </ul>

    <p>This page will update if other people indicate interest.</p>

  </body>
</html>
